<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goldze.main">

    <application>
        <!--在自己组件中注册Activity-->
        <!--<activity android:name="com.goldze.main.ui.by_old.MainActivity"/>-->
        <!--<service android:name=".ui.by_old.NetWorkService"/>-->
        <activity android:name=".ui.by_new.MainSecondAty"/>
        <service android:name=".ui.by_new.NetWorkSecondService"/>
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
