<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goldze.main">

    <application
        >
        <!--在自己组件中注册Activity-->
        <activity android:name="com.goldze.main.ui.MainActivity"></activity>
       <!-- <service android:name=".service.NetWorkService"/>-->
        <service android:name=".service.NetWorkServiceTest"></service>
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
    </application>
</manifest>
